<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Visintainer App</title>
  		{{ "app.css" | asset_url | stylesheet_tag }}
  		{{ "fonts.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
	</head>
	<body>
		<div class="contain-to-grid sticky">	
			<nav class="top-bar" data-topbar>
				<section class="top-bar-section">
					<ul>
						<li><a href="/">Style Guide</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="lists">Main List</a></li>
						<li><a href="user-page">User</a></li>
						<li><a href="dashboard">Dashboard</a></li>
					</ul>				
				</section>
			</nav>
		</div>
		{% block content %}{% endblock %}
		{% include "scripts" %}
	</body>
</html>