{% layout "app" %}
{% block content %}
<div class="row">
	<div class="medium-centered medium-6 large-centered large-6 panel columns login">
  	<h2>Login</h2>
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />
    <div class="button small radius"><a href="#">Login</a></div>
	</div>
</div>
{% endblock %}