{% layout "login-logout" %}
{% block content %}
<div class="login-bkg">
	<div class="row">
		<div class="large-2 large-offset-5 columns login">
			<form>
			  <div class="row">
			    <div>
			      <input type="text" placeholder="Username" />
			    </div>
			  </div>
			  <div class="row">
			    <div>
			      <input type="text" placeholder="Password" />
			    </div>
			  </div><!-- End row -->
			</form>
		</div><!-- End login -->
		<div class="row">
			<div class="login-logo large-2 large-offset-5 columns text-center">
				<a href="#" class="button">Login</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}