{% block content %}

<!== Navigation Bar ===============================>

<div class="page-wrap">
	<div class="row collapse">
		<div class="labels">Pages</div>
	</div>
	<div class="row">
		<div class="large-12 medium-12 columns">
			<h4>Login, Logout and Dashboard</h4>
			<ul>
				<li><a href="login">Login</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-12 medium-12 columns">
			<h4>Search Lists</h4>
			<ul>
				<li><a href="search-list-1">Shopping centers, free standing retail, and shops</a></li>
				<li><a href="search-list-2">Office and Industrial</a></li>
			</ul>
		</div>
	</div>
</div><!-- End page-wrap -->
{% endblock %}