{% block content %}

<!== Navigation Bar ===============================>

<div class="page-wrap">
	<div class="row collapse">
		<div class="labels">Top Bar</div>
	</div>
</div><!-- End page-wrap -->

<div class="contain-to-grid sticky">	
	<div class="top-bar" data-topbar>
		<ul class="title-area">
	    	<li class="name"><a href="/"><h1>Logo</h1></a></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<div class="top-bar-section">
			<div class="utility right">
				<ul>
					<li class="avatar-small brett"><a href="#"></a></li>
					<li><a href="#" class="ss-settings icons"></a></li>
					<li><a href="#" class="ss-logout icons"></a></li>
				</ul>
			</div>
			<ul class="main-nav right">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">Create List</a></li>
				<li><a href="#">Users</a></li>
				<li><a href="#">Import</a></li>
				<li><a href="#" class="ss-search icons"></a></li>
			</ul>
		</div>
	</div>
</div>

<!== Search Boxes ===============================>

<div class="page-wrap">
	<div class="row collapse">
		<div class="labels">Search Boxes</div>
	</div>
</div><!-- End page-wrap -->

<div class="main-search">
	<div class="row">
		<div class="large-6 columns">
			<div class="panel-header-property">
				<ul>
					<li><img src="http://placehold.it/64x64"></li>
					<li><h3>Property Type</h3></li>
				</ul>
			</div>
			<div class="search-panel-property">
				<ul>
					<li><input type="radio" name="pokemon" value="Retail" id="pokemonRed"><label for="pokemonRed"><h5>Retail</h5></label></li>
					<li><input type="radio" name="pokemon" value="Office" id="pokemonRed"><label for="pokemonRed"><h5>Office</h5></label></li>
					<li><input type="radio" name="pokemon" value="Industrial" id="pokemonRed"><label for="pokemonRed"><h5>Industrial</h5></label></li>
					<li><input type="radio" name="pokemon" value="Investors" id="pokemonRed"><label for="pokemonRed"><h5>Investors</h5></label></li>
					<li><input type="radio" name="pokemon" value="Brokers" id="pokemonRed"><label for="pokemonRed"><h5>Brokers</h5></label></li>
				</ul>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="panel-header-brokers">
				<ul>
					<li><img src="http://placehold.it/64x64"></li>
					<li><h3>Brokers</h3></li>
				</ul>
			</div>
			<div class="search-panel-brokers">
				<ul>
					<li><input id="checkbox1" type="checkbox"><label for="checkbox1"><h5>All</h5></label></li>
					<li><input id="checkbox1" type="checkbox"><label for="checkbox1"><h5>City</h5></label></li>
					<li><input id="checkbox1" type="checkbox"><label for="checkbox1"><h5>State</h5></label></li>
					<li><input id="checkbox1" type="checkbox"><label for="checkbox1"><h5>Company</h5></label></li>
				</ul>	
			</div>
		</div>
	</div>
</div><!-- End main-search -->

<div class="main-search">
	<div class="row">
		<div class="large-6 columns">
			<div class="panel-header-property">
				<ul>
					<li><img src="http://placehold.it/64x64"></li>
					<li><h3>Property Type</h3></li>
				</ul>
			</div>
			<div class="search-panel-property">
				<ul>
					<li><input type="radio" name="pokemon" value="Retail" id="pokemonRed"><label for="pokemonRed"><h5>Retail</h5></label></li>
					<li><input type="radio" name="pokemon" value="Office" id="pokemonRed"><label for="pokemonRed"><h5>Office</h5></label></li>
					<li><input type="radio" name="pokemon" value="Industrial" id="pokemonRed"><label for="pokemonRed"><h5>Industrial</h5></label></li>
					<li><input type="radio" name="pokemon" value="Investors" id="pokemonRed"><label for="pokemonRed"><h5>Investors</h5></label></li>
					<li><input type="radio" name="pokemon" value="Brokers" id="pokemonRed"><label for="pokemonRed"><h5>Brokers</h5></label></li>
				</ul>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="panel-header-property">
				<ul>
					<li><img src="http://placehold.it/64x64"></li>
					<li><h3>Industrial</h3></li>
				</ul>
			</div>
			<div class="search-panel-industrial">
				
			</div>
		</div>
	</div>
</div><!-- End main-search -->

<!== Lists ===============================>

<div class="page-wrap">
	<div class="row collapse">
		<div class="labels">Search Lists</div>
	</div>
</div><!-- End page-wrap -->

<!== Search lists - Shopping Centers, Free Standing Retail, Shops ===============================> 
<div class="search-header">
	<div class="row">
		<div class="columns list-stats">
			<h1>50</h1>
			<p>properties</p>
		</div>
		<div class="columns list-stats">
			<h1>35</h1>
			<p>owners</p>
		</div>
		<div class="large-8 medium-8"></div>
	</div><!-- End list-stats -->
</div><!-- End search-header -->
<div class="row"> <!== Tables ===============================>
	<div class="medium-12 large-12 columns">
		<table class="medium-12 large-12">
			<tr class="title">
				<th class="text-left list-left-col icons"><a href="#" class="ss-check"></a></th>
				<th class="text-left">Contact</th>
				<th class="text-center"></th>
				<th class="text-left">Shopping Center</th>
				<th class="text-left">Address</th>
				<th class="text-right">Square Footage</th>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">Ball Ventures LLC</a></td>
				<td>
					<a href="#" class="list-tiny-links lists ss-list"> 8</a>
					<a href="#" class="list-tiny-links">TOP</span>
				</td>
				<td><a href="#">Sylvan Marketplace</a></td>
				<td>7084 Auburn Blvd, Citrus Heights CA 95621-4300</td>
				<td class="numbers">6,717</td>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">Chong Yun Yi &amp; Ok Chun Yi</a></td>
				<td></td>
				<td><a href="#">Ceres Center</a></td>
				<td>1520 E. Hatch Rd., Ceres CA 95307</td>
				<td class="numbers">7,800</td>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">James O&rsquo;Banion</a></td>
				<td>
					<a href="#" class="list-tiny-links disabled lists ss-list"> 8</a>
					<a href="#" class="list-tiny-links">TOP</span>
				</td>
				<td><a href="#"></a></td>
				<td>1501 Academy Ave., Sanger CA 93657</td>
				<td class="numbers">6,755</td>
			</tr>
		</table>
	</div>
</div><!-- End tables -->
<div class="row search-bottom">
	<div class="large-12 columns">
		<a href="#" class="button" style="float:left;">Save List</a>
		<div class="list-nav">
			<a href="#" class="ss-repeat icons"><p>Repeat</p></a>
		</div>
	</div>
</div>

<!== Search lists - Office and Industrial ===============================>
<div class="search-header">
	<div class="row">
		<div class="columns list-stats">
			<h1>50</h1>
			<p>properties</p>
		</div>
		<div class="columns list-stats">
			<h1>35</h1>
			<p>owners</p>
		</div>
		<div class="large-8 medium-8"></div>
	</div><!-- End list-stats -->
</div><!-- End search-header -->
<div class="row"> <!== Tables ===============================>
	<div class="medium-12 large-12 columns">
		<table class="medium-12 large-12">
			<tr class="title">
				<th class="text-left list-left-col icons"><a href="#" class="ss-check"></a></th>
				<th class="text-left">Contact</th>
				<th class="text-left">Address</th>
				<th class="text-right">Square Footage</th>
				<th class="text-center">Other</th>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">Ball Ventures LLC</a></td>
				<td>7084 Auburn Blvd, Citrus Heights CA 95621-4300</td>
				<td class="numbers">6,717</td>
				<td class="list-nobkg"></td>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">Chong Yun Yi &amp; Ok Chun Yi</a></td>
				<td>1520 E. Hatch Rd., Ceres CA 95307</td>
				<td class="numbers">7,800</td>
				<td class="list-nobkg"></td>
			</tr>
			<tr>
				<td class="list-checkbox no-left"><input id="checkbox1" type="checkbox"></td>
				<td><a href="#">James O&rsquo;Banion</a></td>
				<td>1501 Academy Ave., Sanger CA 93657</td>
				<td class="numbers">6,755</td>
				<td class="list-nobkg"></td>
			</tr>
		</table>
	</div>
</div><!-- End row -->
<div class="row search-bottom">
	<div class="large-12 columns">
		<a href="#" class="button" style="float:left;">Save List</a>
		<div class="list-nav">
			<a href="#" class="ss-repeat icons"><p>Repeat</p></a>
		</div>
	</div>
</div>
{% endblock %}